[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tenhou-scores-cli = {editable = true, path = "."}
click = "*"
requests = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
ipython = "*"
freezegun = "*"

[requires]
python_version = "3.10"
